In [2]:
import pandas as pd
import matplotlib as plt

In [21]:
df = pd.read_csv("data/actes-criminels.csv")

In [22]:
print(df.columns.values)
print(df['CATEGORIE'].unique())

['CATEGORIE' 'DATE' 'QUART' 'PDQ' 'X' 'Y' 'LONGITUDE' 'LATITUDE']
['Vol de véhicule à moteur' 'Méfait' 'Vols qualifiés'
 'Vol dans / sur véhicule à moteur' 'Introduction'
 'Infractions entrainant la mort']

In [23]:
df.tail()

,CATEGORIE,DATE,QUART,PDQ,X,Y,LONGITUDE,LATITUDE
247776,Méfait,2023-01-25,nuit,5.0,282322.244000,5.038093e+06,-73.787533,45.482397
247777,Vol de véhicule à moteur,2023-01-25,nuit,27.0,NaN,NaN,NaN,NaN
247778,Vol dans / sur véhicule à moteur,2023-01-25,nuit,7.0,287693.613000,5.040649e+06,-73.718913,45.505551
247779,Infractions entrainant la mort,2023-01-25,nuit,22.0,300219.661995,5.043573e+06,-73.558643,45.532059
247780,Vol dans / sur véhicule à moteur,2023-01-25,nuit,21.0,NaN,NaN,NaN,NaN

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247781 entries, 0 to 247780
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   CATEGORIE  247781 non-null  object
 1   DATE       247781 non-null  object
 2   QUART      247781 non-null  object
 3   PDQ        247776 non-null  float64
 4   X          205753 non-null  float64
 5   Y          205753 non-null  float64
 6   LONGITUDE  205753 non-null  float64
 7   LATITUDE   205753 non-null  float64
dtypes: float64(5), object(3)
memory usage: 15.1+ MB

Most common to least common:
1. Theft from car (Vol dans / sur véhicule à moteur)
2. Breaking and entering (Introduction)
3. Mischief (Méfait)
4. Theft of car (Vol de véhicule à moteur)
5. Robbery (Vols qualifiés)
6. Murder (Infractions entrainant la mort)

In [30]:
df.groupby(['PDQ']).count().sort_values('CATEGORIE',ascending=[False]).head(10)

      CATEGORIE   DATE  QUART      X      Y  LONGITUDE  LATITUDE
PDQ
38.0      17496  17496  17496  14581  14581      14581     14581
21.0      14549  14549  14549   9475   9475       9475      9475
20.0      13805  13805  13805   8386   8386       8386      8386
48.0      11958  11958  11958  10219  10219      10219     10219
39.0      11304  11304  11304   9476   9476       9476      9476
7.0       11250  11250  11250  10165  10165      10165     10165
26.0      10663  10663  10663   8787   8787       8787      8787
44.0       9995   9995   9995   8318   8318       8318      8318
23.0       9633   9633   9633   8171   8171       8171      8171
15.0       9411   9411   9411   7802   7802       7802      7802

In [8]:
# df[df['CATEGORIE']=='Infractions entrainant la mort'].groupby(['PDQ']).count().sort_values('CATEGORIE')

""" 
Where and when are the most dangerous places to be at?
overall, precinct
precinct and time
type of crime (violent, non violent)

Violent: "Introduction", "Infractions entrainant la mort", "Vols qualifiés"
Nonviolent: "Vol dans / sur véhicule à moteur", "Méfait", "Vol de véhicule à moteur"

"""

# df['CATEGORIE'].value_counts()
violent = ["Introduction", "Infractions entrainant la mort", "Vols qualifiés"]
nonviolent = ["Vol dans / sur véhicule à moteur", "Méfait", "Vol de véhicule à moteur"]
dfV = df[df['CATEGORIE'].isin(violent)]
dfN = df[df['CATEGORIE'].isin(nonviolent)]

grouped = dfV.groupby(['PDQ','QUART'])

# dfV.groupby(['PDQ','QUART']).count().sort_values('CATEGORIE',ascending=[False])
display(dfV.groupby(['PDQ','QUART']).count().reset_index().sort_values('CATEGORIE',ascending=[False]))
display(dfN.groupby(['PDQ','QUART']).count().reset_index().sort_values('CATEGORIE',ascending=[False]))
# dfN.groupby(['PDQ','QUART']).count().sort_values('CATEGORIE',ascending=[False])

      PDQ QUART  CATEGORIE  DATE     X     Y  LONGITUDE  LATITUDE
72   38.0  jour       3138  3138  3036  3036       3036      3036
74   38.0  soir       2888  2888  2767  2767       2767      2767
56   26.0  soir       1626  1626  1465  1465       1465      1465
48   23.0  jour       1616  1616  1555  1555       1555      1555
42   21.0  jour       1563  1563  1373  1373       1373      1373
..    ...   ...        ...   ...   ...   ...        ...       ...
7     4.0  nuit        131   131   126   126        126       126
97   50.0  nuit         90    90    90    90         90        90
99   55.0  jour          3     3     3     3          3         3
100  55.0  nuit          3     3     3     3          3         3
101  55.0  soir          1     1     1     1          1         1

[102 rows x 8 columns]

      PDQ QUART  CATEGORIE  DATE     X     Y  LONGITUDE  LATITUDE
72   38.0  jour       5464  5464  4146  4146       4146      4146
41   20.0  soir       5248  5248  2761  2761       2761      2761
42   21.0  jour       5025  5025  3125  3125       3125      3125
90   48.0  jour       4646  4646  3835  3835       3835      3835
39   20.0  jour       4633  4633  2700  2700       2700      2700
..    ...   ...        ...   ...   ...   ...        ...       ...
97   50.0  nuit        225   225   225   225        225       225
52   24.0  nuit        157   157    71    71         71        71
101  55.0  soir         42    42    42    42         42        42
99   55.0  jour         36    36    36    36         36        36
100  55.0  nuit          7     7     7     7          7         7

[102 rows x 8 columns]

In [68]:
# df['PDQ'].count()
display(df[df['PDQ'].isnull()])
print(df[df['PDQ'].isnull()].count())

,CATEGORIE,DATE,QUART,PDQ,X,Y,LONGITUDE,LATITUDE
47486,Introduction,2016-10-20,soir,NaN,NaN,NaN,NaN,NaN
97865,Vol dans / sur véhicule à moteur,2016-07-25,soir,NaN,NaN,NaN,NaN,NaN
97866,Vol dans / sur véhicule à moteur,2016-07-25,soir,NaN,NaN,NaN,NaN,NaN
121176,Vol de véhicule à moteur,2018-06-12,nuit,NaN,NaN,NaN,NaN,NaN
212222,Introduction,2021-10-02,soir,NaN,NaN,NaN,NaN,NaN

CATEGORIE    5
DATE         5
QUART        5
PDQ          0
X            0
Y            0
LONGITUDE    0
LATITUDE     0
dtype: int64

In [21]:
# give the most common crime in each pdq
# df.groupby(['PDQ']).first()
grouped_df = df.groupby('PDQ')['CATEGORIE'].apply(lambda x: x.mode()).reset_index()
# Rename the column to 'MOST_COMMON_CATEGORY'
grouped_df = grouped_df.rename(columns={'CATEGORIE': 'MOST_COMMON_CATEGORY'})
# Reset the index to remove the multi-level index
grouped_df = grouped_df.reset_index(drop=True)
# Keep only the columns 'PDQ' and 'MOST_COMMON_CATEGORY'
result = grouped_df[['PDQ', 'MOST_COMMON_CATEGORY']]

display(result)
# """ 
# for each pdq
#     count each categorie
#     take the max
#     return the first in each pdq where categorie == max
# async.io 
# """

     PDQ              MOST_COMMON_CATEGORY
0    1.0                      Introduction
1    3.0                      Introduction
2    4.0  Vol dans / sur véhicule à moteur
3    5.0  Vol dans / sur véhicule à moteur
4    7.0          Vol de véhicule à moteur
5    8.0                      Introduction
6    9.0  Vol dans / sur véhicule à moteur
7   10.0  Vol dans / sur véhicule à moteur
8   11.0                            Méfait
9   12.0  Vol dans / sur véhicule à moteur
10  13.0                            Méfait
11  15.0                      Introduction
12  16.0                      Introduction
13  20.0  Vol dans / sur véhicule à moteur
14  21.0  Vol dans / sur véhicule à moteur
15  22.0                      Introduction
16  23.0                      Introduction
17  24.0                      Introduction
18  26.0                      Introduction
19  27.0  Vol dans / sur véhicule à moteur
20  30.0  Vol dans / sur véhicule à moteur
21  31.0  Vol dans / sur véhicule à moteur
22  33.0  Vol dans / sur véhicule à moteur
23  35.0                      Introduction
24  38.0                      Introduction
25  39.0          Vol de véhicule à moteur
26  42.0  Vol dans / sur véhicule à moteur
27  44.0                      Introduction
28  45.0          Vol de véhicule à moteur
29  46.0  Vol dans / sur véhicule à moteur
30  48.0  Vol dans / sur véhicule à moteur
31  49.0  Vol dans / sur véhicule à moteur
32  50.0                            Méfait
33  55.0                            Méfait