In [86]:
df = pd.read_csv("data/actes-criminels.csv")

In [87]:
print(df.columns.values)

['CATEGORIE' 'DATE' 'QUART' 'PDQ' 'X' 'Y' 'LONGITUDE' 'LATITUDE']

In [88]:
df.tail()

,CATEGORIE,DATE,QUART,PDQ,X,Y,LONGITUDE,LATITUDE
247776,Méfait,2023-01-25,nuit,5.0,282322.244000,5.038093e+06,-73.787533,45.482397
247777,Vol de véhicule à moteur,2023-01-25,nuit,27.0,NaN,NaN,NaN,NaN
247778,Vol dans / sur véhicule à moteur,2023-01-25,nuit,7.0,287693.613000,5.040649e+06,-73.718913,45.505551
247779,Infractions entrainant la mort,2023-01-25,nuit,22.0,300219.661995,5.043573e+06,-73.558643,45.532059
247780,Vol dans / sur véhicule à moteur,2023-01-25,nuit,21.0,NaN,NaN,NaN,NaN

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247781 entries, 0 to 247780
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   CATEGORIE  247781 non-null  object
 1   DATE       247781 non-null  object
 2   QUART      247781 non-null  object
 3   PDQ        247776 non-null  float64
 4   X          205753 non-null  float64
 5   Y          205753 non-null  float64
 6   LONGITUDE  205753 non-null  float64
 7   LATITUDE   205753 non-null  float64
dtypes: float64(5), object(3)
memory usage: 15.1+ MB

Most common to least common:
1. Theft from car (Vol dans / sur véhicule à moteur)
2. Breaking and entering (Introduction)
3. Mischief (Méfait)
4. Theft of car (Vol de véhicule à moteur)
5. Robbery (Vols qualifiés)
6. Murder (Infractions entrainant la mort)

In [90]:
df.groupby(['PDQ']).count().sort_values('CATEGORIE')

      CATEGORIE   DATE  QUART      X      Y  LONGITUDE  LATITUDE
PDQ
55.0         92     92     92     92     92         92        92
50.0       2028   2028   2028   2028   2028       2028      2028
24.0       2532   2532   2532   1262   1262       1262      1262
1.0        2850   2850   2850   2648   2648       2648      2648
33.0       2952   2952   2952   2473   2473       2473      2473
4.0        3163   3163   3163   2963   2963       2963      2963
11.0       3890   3890   3890   3353   3353       3353      3353
3.0        4527   4527   4527   4224   4224       4224      4224
9.0        4529   4529   4529   4117   4117       4117      4117
10.0       5100   5100   5100   4464   4464       4464      4464
12.0       5149   5149   5149   4213   4213       4213      4213
8.0        5290   5290   5290   4735   4735       4735      4735
45.0       5310   5310   5310   4626   4626       4626      4626
46.0       5779   5779   5779   5301   5301       5301      5301
16.0       6050   6050   6050   5383   5383       5383      5383
13.0       6322   6322   6322   5613   5613       5613      5613
49.0       6427   6427   6427   5743   5743       5743      5743
5.0        7017   7017   7017   6517   6517       6517      6517
30.0       7203   7203   7203   5874   5874       5874      5874
22.0       7564   7564   7564   5949   5949       5949      5949
31.0       7572   7572   7572   6309   6309       6309      6309
35.0       7920   7920   7920   6725   6725       6725      6725
27.0       9083   9083   9083   7622   7622       7622      7622
42.0       9363   9363   9363   8139   8139       8139      8139
15.0       9411   9411   9411   7802   7802       7802      7802
23.0       9633   9633   9633   8171   8171       8171      8171
44.0       9995   9995   9995   8318   8318       8318      8318
26.0      10663  10663  10663   8787   8787       8787      8787
7.0       11250  11250  11250  10165  10165      10165     10165
39.0      11304  11304  11304   9476   9476       9476      9476
48.0      11958  11958  11958  10219  10219      10219     10219
20.0      13805  13805  13805   8386   8386       8386      8386
21.0      14549  14549  14549   9475   9475       9475      9475
38.0      17496  17496  17496  14581  14581      14581     14581

In [93]:
df[df['CATEGORIE']=='Infractions entrainant la mort'].groupby(['PDQ']).count().sort_values('CATEGORIE')

      CATEGORIE  DATE  QUART   X   Y  LONGITUDE  LATITUDE
PDQ
33.0          2     2      2   2   2          2         2
5.0           3     3      3   3   3          3         3
10.0          4     4      4   3   3          3         3
11.0          4     4      4   4   4          4         4
35.0          4     4      4   2   2          2         2
31.0          5     5      5   3   3          3         3
44.0          5     5      5   5   5          5         5
7.0           6     6      6   5   5          5         5
16.0          6     6      6   3   3          3         3
3.0           7     7      7   7   7          7         7
8.0           7     7      7   7   7          7         7
9.0           7     7      7   7   7          7         7
12.0          7     7      7   7   7          7         7
45.0          7     7      7   5   5          5         5
22.0          7     7      7   7   7          7         7
46.0          8     8      8   8   8          8         8
30.0          8     8      8   6   6          6         6
23.0          8     8      8   5   5          5         5
26.0          9     9      9   8   8          8         8
42.0          9     9      9   6   6          6         6
15.0          9     9      9   7   7          7         7
27.0          9     9      9   9   9          9         9
48.0         10    10     10   9   9          9         9
20.0         11    11     11   8   8          8         8
49.0         11    11     11   9   9          9         9
21.0         14    14     14   9   9          9         9
38.0         14    14     14  10  10         10        10
13.0         14    14     14  12  12         12        12
39.0         15    15     15  12  12         12        12